body, html, * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: rgb(205, 209, 205);
}

header, footer{
    background-color: #914e62;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    color: #FFE9F3;
    font-size: 50px;
}

section{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section > p{
    color: black;
    margin: 40px;
    font-size: 30px;
}

.game-content{
    display: flex;
    margin: auto;
    max-width: max-content;
    background-color: #914e62;
    border: 5px solid black;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 40px;
    flex-wrap: wrap;
}

.img-box{
    max-width: 150px;
    margin-left: 45px;
    margin-bottom: 15px;
}
.img-box:hover{
    background-color: #7a4253;
    cursor: pointer;
}

img{
    max-width: 150px;
}

p{
    color: white;
    text-align: center;
    font-size: 16px;
}

.scoreboard{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    margin: auto;
    max-width: 600px;
}

.score{
    padding-left: 65px;
    padding-right: 65px;
}

.score > p{
    color: black;
    font-size: 20px;
    font-weight: bold;
}

#btn{
    margin: auto;
    background-color: transparent;
    border: 2px solid black;
    font-size: 30px;
    padding: 15px;
    color: black;
    border-radius: 15px;
    margin-bottom: 100px;
}

.hidden{
    visibility: hidden;
}

footer{
    background-color: #914e62;
    font-size: 14px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}


@media(max-width: 660px){

    header{
        font-size: 30px;
        height: 4rem;
    }

    .score{
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .score > p{
        color: black;
        font-size: 20px;
        font-weight: bold;
    }

    img{
        width: 80px;
        margin-left: 45px;
        margin-bottom: 15px;
    }

    footer{
        height: 3rem;
    }

    #btn{
        margin-bottom: 50px;
    }
    
    .img-box{
        max-width: 150px;
        margin-left: 0px;
        margin-bottom: 0px;
    }
}

@media(max-width: 400px){

    section > p{
        font-size: 20px;
    }
}